<h1>DICOM Framework</h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <span>{{message}}</span>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<form action='/process_dicom' method='post'>
    <button type='submit'>Process Dicom</button>
</form>

<form action='/sql_transformation_example' method='post'>
    <button type='submit'>Transformation: SqlTransformationExample</button>
</form>
