[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
python-decouple = "*"
pydicom = "*"
pandas = "*"
sqlalchemy = "*"
numpy = "*"
pillow = "*"
psycopg2 = "*"
console-menu = "*"
tqdm = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
